/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

/* Formatting specific to the REAlistGUIgenerator application */

body {
  padding: 10px;
}

/*********************************/
/*    Introduction Labels	     */
/*********************************/
.introductionLabel {
  margin: 10px 0px 10px 0px;
  font-size:200%;
}


/*********************************/
/*     		Flextables		     */
/*********************************/

/* dualityStatusFlexTable header row */
.adminFlexTableHeader {
  background-color: #2062B8;
  color: white;
  font-style: italic;
}

/* Admin FlexTables */
.adminFlexTable {
  border: 1px solid silver;
  padding: 2px;
  margin-bottom:6px;
}

/* Admin addpanels */
.addPanel {
  margin: 10px 0px 15px 0px;
}

/* Admin addEditpanels */
.addEditPanel {
  margin: 0px 0px 0px 10px;
}

/* Admin addEdit Header Labels */
.addEditHeaderLabel {
  margin-bottom: 6px;
  font-size:120%;
  margin-top: 6px;
}

/* Admin Add Buttons */
.gwt-Button-add {
  width: 5%;
}

/* Admin Ok Buttons */
.gwt-Button-ok {
  width: 25%;
  margin: 10px 0px 10px 0px;
}

/* dualityStatusFlexTable StatusCode fields */
.adminFlexTableColumn {
  text-align: left;
  width:8em;
}

/* Admin Edit column */
.adminFlexTableEditRemoveColumn {
  text-align: center;
}

/* Adminsections, Remove and Update button */
.gwt-Button-removeupdate {
  width: 100%;
}

/* Panel full Screen Size */
.fullsizePanel {
  width: 100%;
}

/* Panel with three quarter screen size */
.threequartersizePanel {
  width: 75%;
}

/* Panel half screen size */
.halfsizePanel {
  width: 50%;
}

/* Panel quarter screen size */
.quartersizePanel {
  width: 25%;
}

/* Error Style when textbox validation fails. Only for Validation purposes*/
.error-text-box { 
	border: 2px solid red; 
}

/*********************************/
/*       DualitytypePanel	     */
/*********************************/


/* Admin addEdit Header Labels */
.dualitytypeSelection {
  margin-bottom: 6px;
  font-size:120%;
  margin-top: 6px;
}

/* Dualitytype Select Button */
.gwt-Button-select {
  width: 10%;
  margin: 10px 0px 10px 0px;
}

/* Admin addEdit Header Labels */
.dualitytypeLabelLabel {
  margin-bottom: 6px;
  font-size:120%;
  margin-top: 6px;
}

/* Label for selecting dualitystatus and adding dulaitytype to REA DB */
.dualityAdd {
  margin-bottom: 6px;
  font-size:120%;
  margin-top: 6px;
}

/*********************************/
/*       EventContentPanel	     */
/*********************************/


/* Datepicker Panels */
.datePickerPanel {
  margin-left: 30px;
}

/* eventtypeAttributePanel */
.eventtypeAttributePanel {
  width: 60%;
}

/* eventtypeDatePanel */
.eventtypeDatePanel {
  width: 40%;
}

/*************************************************/
/*       Participation and Stockflow Panel	     */
/*************************************************/

.participationStockflowPanel {
  width: 50%;
  border: 1px solid silver;
  padding: 2px;
  margin-bottom:6px;
}

.participationSpecificationLabel {
  margin: 10px 0px 10px 0px;
  font-size:120%;
}

